* {
    font-family: "Microsoft YaHei", Arial, sans-serif;
    scroll-behavior: smooth;
}
body {
    background: #061c2d;
    color: #d7e7f3;
    font-family: 'Work Sans', sans-serif;
    font-size: 120%;
}
div.block {
    min-height: 100vh;
    position: relative;
    text-align: center;
    padding-bottom: 0;
}
div.block:nth-child(2) {
    background: hsl(205, 84%, 14%);
}
div.block:nth-child(3) {
    background: hsl(205, 90%, 22%);
}
h1 {
    margin-top:30vh;
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 4em;
    font-weight: 200;
    line-height: normal;
}
h2 {
    max-width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 100;
    color: #779dba;
    -webkit-font-smoothing: subpixel-antialiased;
}
svg {
    position: absolute;
    width: 30px;
    bottom: -18vw;
}

a img {
    display: inline-flex;
    margin: auto;
}

/* Wheel animation */
/* Cred: https://codepen.io/bk4d/pen/oKZZBa */

@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(100px);
	}
}
svg #wheel {
	animation: scroll ease 1.5s infinite;
}

/* --- Adaptive markup for small devices --- */

/* Wide */
@media screen and (max-width: 1024px) {
    body {
        font-size: 105%;
    }
}

/* Medium */
@media screen and (max-width: 800px) {
    body {
        font-size: 95%;
    }
}

/* Small */
@media screen and (max-width: 480px) {
    body {
        font-size: 85%;
    }
}