* {
    font-family: Montserrat, sans-serif;
    scroll-behavior: smooth;
}
body {
    background: #061c2d;
    color: #d7e7f3;
    font-family: 'Work Sans', sans-serif;
    font-size: 120%;
}

div.block {
    min-height: 100vh;
    position: relative;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.block:not(:first-child) {
    opacity: 0;
    transition: all 1.6s ease-in-out;
    pointer-events: none;
}
div.block:nth-child(2) a{
    display: none;
}
div.block:nth-child(2) {
    background: hsl(205, 84%, 14%);
    flex-direction: row;
}
div.block:nth-child(2) div { 
    max-width: 63%;
}
div.block:nth-child(3) {
    display: block;
}
h1 {
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 4.6em;
    font-weight: 200;
}
h2 {
    position: relative;
    bottom: 30px;
    max-width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1.5em;
    font-weight: 400;
    color: #93c2e5;
    -webkit-font-smoothing: subpixel-antialiased;
}
h3 {
    text-transform: lowercase;
    position: relative;
    bottom: 30px;
    max-width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 100;
    color: #779dba;
    -webkit-font-smoothing: subpixel-antialiased;
}

a img {
    display: inline-flex;
    margin: auto;
}

svg {
    position: relative;
    width: 30px;
}
.svg-icon {
    opacity: 0.9;
    transition: all 1.1s ease-in-out;
    pointer-events: none;
}

.bottom-block {
    position: absolute;
    bottom: 4%;
}

/* Wheel animation */
/* Cred: https://codepen.io/bk4d/pen/oKZZBa */

@keyframes scroll {
    0% {
        transform: translateY(0);
	}
	30% {
        transform: translateY(100px);
	}
}
svg #wheel {
    animation: scroll ease 1.5s infinite;
}

#portfolio img {
    margin-top: 5px;
}

/* PDF plugin */

embed {
    display: flex;
    margin: auto;
    padding-top: 17px;
    width: 60vw;
    height: 90vh;
}

p {
    text-align: justify; 
    max-width: 90%; 
    margin: auto; 
    background-color: 
    rgba(83, 82, 82, 0.483); 
    padding: 15px;
    border-radius: 15px; 
    font-weight: 100;
}

/* Mobile */
@media screen and (max-width: 480px) {
    div.block h1 {
        display: block;
        text-align: center;
        font-size: 4.15rem;
        justify-items: space-between;
        word-break:break-all;
    }
    div.block:nth-child(2) div { 
        max-width: 95%;
    }
    p {
        background: none;
    }
    embed {
        display: none;
    }
    #portfolio img {
        width: 97%;
    }
    div.block:nth-child(2) a {
        display: block;
    }
    .svg-icon {
        width: 80%;
    }
}