* {
    font-family: "Microsoft YaHei", Arial, sans-serif;
    scroll-behavior: smooth;
}
body {
    background: #061c2d;
    color: #d7e7f3;
    font-family: 'Work Sans', sans-serif;
    font-size: 120%;
    margin: 0;
}
div.block {
    height: 100vh;
    position: relative;
    padding-top: 1%;
    text-align: center;
}
div.block:nth-child(2n) {
    background: hsl(205, 84%, 14%);
}
div.block:nth-child(3n) {
    background: hsl(205, 90%, 22%);
}
h1 {
    padding-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 4em;
    font-weight: 200;
    line-height: normal;
}
h2 {
    max-width: 50%;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 100;
    color: #779dba;
    -webkit-font-smoothing: subpixel-antialiased;
}
div.block svg
{
    padding-top: 150%;
    position: relative;
    width: 30px;
    bottom: -10vh;
}
div.block svg path
{
    fill: #7e9aae;
}
button {
    background: none;
    border: none;
}